body {
  background-color: #000000;
}

.battle-button-home {
  margin-left: 26%;
  margin-top: 15%;

  z-index: 1;
}
.create-new {
  margin-left: 20%;
  margin-top: 15%;

  z-index: 0;
}
.fighter-logo {
  margin-top: 3%;
  margin-left: 30.5%;
  z-index: 1;
}

.lower-links {
  z-index: 1;
}
.lower-links:hover {
  color: red;
}
.fighterLogo {
  animation-duration: 3s;
  animation-delay: 2s;
}
