body {
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(47deg, #ff0000 50%, #004e95 50%);
  min-height: 800px;
}

.battle-button-home {
  margin-bottom: 15%;
  margin-left: 26%;
}
.create-new {
  margin-bottom: 15%;
  margin-left: 20%;
  height: 150%;
}
.fighter-logo {
  margin-top: 3%;
  margin-left: 30.5%;
  z-index: 1;
}

.lower-links {
  z-index: 1;
}
.lower-links:hover {
  color: red;
}
.fighterLogo {
  animation-duration: 3s;
  animation-delay: 2s;
}
